In [69]:
import numpy as np
import math
import pandas as pd
from sklearn import model_selection as ms

In [70]:
N = 10

In [71]:
ratings = pd.read_csv('ratings.csv')

# Untempered dataframe
original_ratings = ratings.dropna()

# Only consider data with complete context
ratings = ratings.dropna()

ratings.info

<bound method DataFrame.info of       userid     itemid rating     Time Location Companion
148     1003  tt0454876      1  Weekday   Cinema     Alone
149     1003  tt0120912      1  Weekday   Cinema     Alone
150     1003  tt3793764      1  Weekday   Cinema     Alone
151     1003  tt0114148      1  Weekday   Cinema     Alone
152     1003  tt0110357      1  Weekday   Cinema     Alone
...      ...        ...    ...      ...      ...       ...
10082   1082  tt0413267      1  Weekend     Home   Partner
10083   1082  tt1637706      2  Weekend     Home   Partner
10084   1082  tt0343660      1  Weekend     Home   Partner
10085   1082  tt1133985      1  Weekend     Home   Partner
10086   1082  tt1099212      1  Weekend     Home   Partner

[7191 rows x 6 columns]>

In [72]:
users = ratings['userid'].unique()

In [73]:
kfold = ms.KFold(10, shuffle=True, random_state=1)
kfold.split(users)

witheld_data_collection = []

for train, test in kfold.split(users):
    test_set = users[test]
    break

user_expected_dictio = {}

for user in test_set:
    user_rating = ratings[ratings['userid'] == user]
    row_count = user_rating.shape[0]
    
    twenty_percent = math.ceil(row_count * 0.2)
    print('Number of items dropped', twenty_percent)

    # Get 20% of the tested group
    witheld_data = user_rating.tail(twenty_percent)
    witheld_data_collection.append(witheld_data)
        
    ratings.drop(
        witheld_data.index,
        inplace=True
    )
    
    expected_ratings = []
    
    for row in witheld_data.sort_values(by='rating', ascending=False).head(N).iterrows():
        expected_ratings.append(
            (
                row[1]['itemid'], 
                row[1]['Time'], 
                row[1]['Location'], 
                row[1]['Companion'],
                row[1]['rating']
            )
        )
        
    user_expected_dictio[user] = expected_ratings

Number of items dropped 12
Number of items dropped 13
Number of items dropped 16
Number of items dropped 24
Number of items dropped 22
Number of items dropped 23
Number of items dropped 30
Number of items dropped 36
Number of items dropped 1

In [74]:
user_expected_dictio

ratings[
    (ratings['userid'] == '1120') & 
    (ratings['itemid'] == 'tt1657301')
]

Empty DataFrame
Columns: [userid, itemid, rating, Time, Location, Companion]
Index: []

In [79]:
for table in witheld_data_collection:
    display(table)

     userid     itemid rating     Time Location Companion
5552   1066  tt1707386      1  Weekday   Cinema    Family
5553   1066  tt4052394      2  Weekday   Cinema    Family
5554   1066  tt4411490      1  Weekend   Cinema    Family
5555   1066  tt0232500      1  Weekend   Cinema    Family
5556   1066  tt0993846      1  Weekend   Cinema    Family
5557   1066  tt1707386      1  Weekend   Cinema    Family
5558   1066  tt4052394      2  Weekend   Cinema    Family
5559   1066  tt4411490      1  Weekday     Home   Partner
5560   1066  tt0232500      1  Weekday     Home   Partner
5561   1066  tt0993846      1  Weekday     Home   Partner
5562   1066  tt1707386      2  Weekday     Home   Partner
5563   1066  tt4052394      2  Weekday     Home   Partner

     userid     itemid rating     Time Location Companion
6717   1016  tt0110357      4  Weekend   Cinema   Partner
6718   1016  tt0114369      4  Weekend   Cinema   Partner
6719   1016  tt0111161      4  Weekend   Cinema   Partner
6720   1016  tt1707386      4  Weekend   Cinema   Partner
6721   1016  tt3510098      4  Weekend   Cinema   Partner
6722   1016  tt1375666      4  Weekend   Cinema   Partner
6723   1016  tt0289879      3  Weekend   Cinema   Partner
6724   1016  tt1232829      1  Weekend     Home     Alone
6725   1016  ttnanana1      1  Weekend     Home     Alone
6726   1016  tt0378194      1  Weekend     Home     Alone
6727   1016  tt1232829      1  Weekend     Home    Family
6728   1016  ttnanana1      1  Weekend     Home    Family
6729   1016  tt0378194      1  Weekend     Home    Family

     userid     itemid rating     Time Location Companion
7051   1070  tt0405422      3  Weekend   Cinema    Family
7052   1070  tt1596343      3  Weekend   Cinema    Family
7053   1070  tt0114369      3  Weekend   Cinema    Family
7054   1070  tt0109830      5  Weekend   Cinema    Family
7055   1070  tt0120338      5  Weekend   Cinema    Family
7056   1070  tt1375666      5  Weekend   Cinema    Family
7057   1070  tt0133093      3  Weekend   Cinema    Family
7058   1070  tt0114148      1  Weekday   Cinema     Alone
7059   1070  tt0362165      1  Weekday   Cinema     Alone
7060   1070  tt1133985      1  Weekday   Cinema     Alone
7061   1070  tt0114148      2  Weekend     Home    Family
7062   1070  tt0362165      1  Weekend     Home    Family
7063   1070  tt1133985      1  Weekend     Home    Family
7064   1070  tt0114148      1  Weekday     Home   Partner
7065   1070  tt0362165      1  Weekday     Home   Partner
7066   1070  tt1133985      1  Weekday     Home   Partner

     userid     itemid rating     Time Location Companion
7551   1120  tt0088763      5  Weekday   Cinema   Partner
7552   1120  tt0133093      5  Weekday   Cinema   Partner
7553   1120  tt1055369      5  Weekday   Cinema   Partner
7554   1120  tt1369829      1  Weekday     Home    Family
7555   1120  tt0356910      1  Weekday     Home    Family
7556   1120  tt3637328      1  Weekday     Home    Family
7557   1120  tt0405422      1  Weekday     Home    Family
7558   1120  tt0944835      1  Weekday     Home    Family
7559   1120  tt0343660      1  Weekday     Home    Family
7560   1120  tt0388795      1  Weekday     Home    Family
7561   1120  tt1369829      1  Weekend     Home    Family
7562   1120  tt0356910      1  Weekend     Home    Family
7563   1120  tt3637328      1  Weekend     Home    Family
7564   1120  tt0405422      1  Weekend     Home    Family
7565   1120  tt0944835      1  Weekend     Home    Family
7566   1120  tt0343660      1  Weekend     Home    Family
7567   1120  tt0388795      1  Weekend     Home    Family
7568   1120  tt1369829      1  Weekday   Cinema   Partner
7569   1120  tt0356910      1  Weekday   Cinema   Partner
7570   1120  tt3637328      1  Weekday   Cinema   Partner
7571   1120  tt0405422      1  Weekday   Cinema   Partner
7572   1120  tt0944835      1  Weekday   Cinema   Partner
7573   1120  tt0343660      1  Weekday   Cinema   Partner
7574   1120  tt0388795      1  Weekday   Cinema   Partner

     userid     itemid rating     Time Location Companion
7923   1097  tt0441773      5  Weekend   Cinema   Partner
7924   1097  tt1453405      5  Weekend   Cinema   Partner
7925   1097  tt0110357      3  Weekend   Cinema   Partner
7926   1097  tt1232829      5  Weekend   Cinema   Partner
7927   1097  tt3510098      5  Weekend   Cinema   Partner
7928   1097  tt1375666      5  Weekend   Cinema   Partner
7929   1097  tt0489099      5  Weekend   Cinema   Partner
7930   1097  tt1190080      1  Weekend     Home     Alone
7931   1097  tt1657301      1  Weekend     Home     Alone
7932   1097  tt1596343      1  Weekend     Home     Alone
7933   1097  tt1632708      1  Weekend     Home     Alone
7934   1097  tt1099212      1  Weekend     Home     Alone
7935   1097  tt1190080      1  Weekend   Cinema    Family
7936   1097  tt1657301      1  Weekend   Cinema    Family
7937   1097  tt1596343      1  Weekend   Cinema    Family
7938   1097  tt1632708      1  Weekend   Cinema    Family
7939   1097  tt1099212      1  Weekend   Cinema    Family
7940   1097  tt1190080      1  Weekend   Cinema   Partner
7941   1097  tt1657301      1  Weekend   Cinema   Partner
7942   1097  tt1596343      1  Weekend   Cinema   Partner
7943   1097  tt1632708      1  Weekend   Cinema   Partner
7944   1097  tt1099212      1  Weekend   Cinema   Partner

     userid     itemid rating     Time Location Companion
8374   1051  tt0111161      5  Weekday     Home   Partner
8375   1051  tt0293662      3  Weekday     Home   Partner
8376   1051  tt0993846      5  Weekday     Home   Partner
8377   1051  tt0169547      5  Weekday     Home   Partner
8378   1051  tt0109830      4  Weekday     Home   Partner
8379   1051  tt1707386      5  Weekday     Home   Partner
8380   1051  tt1375666      5  Weekday     Home   Partner
8381   1051  tt0133093      5  Weekday     Home   Partner
8382   1051  tt0413267      1  Weekend     Home    Family
8383   1051  tt0232500      1  Weekend     Home    Family
8384   1051  tt0120338      1  Weekend     Home    Family
8385   1051  tt1055369      1  Weekend     Home    Family
8386   1051  tt1099212      1  Weekend     Home    Family
8387   1051  tt0413267      1  Weekend   Cinema   Partner
8388   1051  tt0232500      1  Weekend   Cinema   Partner
8389   1051  tt0120338      2  Weekend   Cinema   Partner
8390   1051  tt1055369      1  Weekend   Cinema   Partner
8391   1051  tt1099212      1  Weekend   Cinema   Partner
8392   1051  tt0413267      2  Weekday     Home   Partner
8393   1051  tt0232500      1  Weekday     Home   Partner
8394   1051  tt0120338      2  Weekday     Home   Partner
8395   1051  tt1055369      1  Weekday     Home   Partner
8396   1051  tt1099212      1  Weekday     Home   Partner

     userid     itemid rating     Time Location Companion
8793   1053  tt0181689      2  Weekend     Home   Partner
8794   1053  tt0120912      4  Weekend     Home   Partner
8795   1053  tt0356910      2  Weekend     Home   Partner
8796   1053  tt0213149      4  Weekend     Home   Partner
8797   1053  tt1657301      4  Weekend     Home   Partner
8798   1053  tt1657301      4  Weekend     Home   Partner
8799   1053  tt0319262      5  Weekend     Home   Partner
8800   1053  tt3793764      5  Weekend     Home   Partner
8801   1053  tt0407304      5  Weekend     Home   Partner
8802   1053  tt0266543      5  Weekend     Home   Partner
8803   1053  tt0268380      5  Weekend     Home   Partner
8804   1053  tt0110357      5  Weekend     Home   Partner
8805   1053  tt0232500      3  Weekend     Home   Partner
8806   1053  tt0111161      5  Weekend     Home   Partner
8807   1053  tt0293662      1  Weekend     Home   Partner
8808   1053  tt0109830      5  Weekend     Home   Partner
8809   1053  tt3510098      5  Weekend     Home   Partner
8810   1053  tt0088763      3  Weekend     Home   Partner
8811   1053  tt0489099      2  Weekend     Home   Partner
8812   1053  ttnanana2      4  Weekend     Home   Partner
8813   1053  tt1055369      5  Weekend     Home   Partner
8814   1053  tt0388795      2  Weekend     Home     Alone
8815   1053  tt1133985      2  Weekend     Home     Alone
8816   1053  tt1099212      2  Weekend     Home     Alone
8817   1053  tt0388795      1  Weekend   Cinema     Alone
8818   1053  tt1133985      1  Weekend   Cinema     Alone
8819   1053  tt1099212      1  Weekend   Cinema     Alone
8820   1053  tt0388795      1  Weekend   Cinema    Family
8821   1053  tt1133985      1  Weekend   Cinema    Family
8822   1053  tt1099212      1  Weekend   Cinema    Family

     userid     itemid rating     Time Location Companion
9555   1116  tt1190080      5  Weekend   Cinema   Partner
9556   1116  tt1369829      3  Weekend   Cinema   Partner
9557   1116  tt0454876      5  Weekend   Cinema   Partner
9558   1116  tt0356910      4  Weekend   Cinema   Partner
9559   1116  tt0213149      5  Weekend   Cinema   Partner
9560   1116  tt0319262      5  Weekend   Cinema   Partner
9561   1116  tt3793764      5  Weekend   Cinema   Partner
9562   1116  tt0266543      3  Weekend   Cinema   Partner
9563   1116  tt2096673      4  Weekend   Cinema   Partner
9564   1116  tt1453405      4  Weekend   Cinema   Partner
9565   1116  tt0327084      2  Weekend   Cinema   Partner
9566   1116  tt0111161      4  Weekend   Cinema   Partner
9567   1116  tt0993846      3  Weekend   Cinema   Partner
9568   1116  tt0211915      3  Weekend   Cinema   Partner
9569   1116  tt0169547      2  Weekend   Cinema   Partner
9570   1116  tt0388795      5  Weekend   Cinema   Partner
9571   1116  tt0109830      5  Weekend   Cinema   Partner
9572   1116  tt1707386      5  Weekend   Cinema   Partner
9573   1116  tt0125439      3  Weekend   Cinema   Partner
9574   1116  tt0120338      4  Weekend   Cinema   Partner
9575   1116  tt3510098      3  Weekend   Cinema   Partner
9576   1116  tt0088763      3  Weekend   Cinema   Partner
9577   1116  tt0367594      2  Weekend   Cinema   Partner
9578   1116  tt1375666      5  Weekend   Cinema   Partner
9579   1116  tt0133093      5  Weekend   Cinema   Partner
9580   1116  tt1055369      4  Weekend   Cinema   Partner
9581   1116  tt1099212      3  Weekend   Cinema   Partner
9582   1116  tt0462538      5  Weekday   Cinema     Alone
9583   1116  tt4052394      3  Weekday   Cinema     Alone
9584   1116  tt1291150      3  Weekday   Cinema     Alone
9585   1116  tt0462538      4  Weekend     Home    Family
9586   1116  tt4052394      1  Weekend     Home    Family
9587   1116  tt1291150      3  Weekend     Home    Family
9588   1116  tt0462538      5  Weekend   Cinema    Family
9589   1116  tt4052394      3  Weekend   Cinema    Family
9590   1116  tt1291150      5  Weekend   Cinema    Family

      userid  itemid  rating  Time  Location  Companion
5043  userid  itemid  rating  Time  Location  Companion

In [75]:
# ratings.to_csv('fold1.csv', index=False)

In [76]:
ratings[
    (ratings['userid'] == '1082')
].sort_values(
    by='rating', 
    ascending=False
).head(100)

      userid     itemid rating     Time Location Companion
10004   1082  tt0993846      5  Weekend     Home    Family
9959    1082  tt0993846      5  Weekend   Cinema     Alone
9963    1082  tt1632708      5  Weekend   Cinema     Alone
9965    1082  tt1707386      5  Weekend   Cinema     Alone
9970    1082  tt0088763      5  Weekend   Cinema     Alone
...      ...        ...    ...      ...      ...       ...
10022   1082  tt0133093      4  Weekend     Home    Family
10017   1082  tt1375666      4  Weekend     Home    Family
10014   1082  tt3510098      4  Weekend     Home    Family
10012   1082  tt0120338      4  Weekend     Home    Family
10010   1082  tt1707386      4  Weekend     Home    Family

[100 rows x 6 columns]

In [77]:
ratings[
    (ratings['userid'] == '1071')
].sort_values(
    by='rating', 
    ascending=False
).head(100)

     userid     itemid rating     Time Location Companion
3622   1071  tt0454876      5  Weekday     Home    Family
8684   1071  tt0319262      5  Weekend     Home    Family
3655   1071  tt0120912      5  Weekday   Cinema    Family
3656   1071  tt0319262      5  Weekday   Cinema    Family
3657   1071  tt3793764      5  Weekday   Cinema    Family
...     ...        ...    ...      ...      ...       ...
8672   1071  tt0441773      4  Weekday     Home    Family
8721   1071  ttnanana1      3  Weekend     Home   Partner
8720   1071  tt2096673      3  Weekend     Home   Partner
8719   1071  tt0343660      3  Weekday     Home   Partner
8718   1071  ttnanana1      3  Weekday     Home   Partner

[100 rows x 6 columns]